<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Puissance 4 - Plateau</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Puissance 4</h1>

    {{if .Winner}}
        <h2>Résultat : 
            {{if eq .Winner "draw"}}
                Match nul !
             {{else}}
                Victoire de {{.Winner}} !
            {{end}}
        </h2>

        <a href="/reset" class="restart-btn">🔁 Rejouer</a>


    {{end}}


    <div class="info">
        <strong>Joueur 1 :</strong> {{.PlayerName1}} ({{.PlayerColor1}}) <br>
        <strong>Joueur 2 :</strong> {{.PlayerName2}} ({{.PlayerColor2}}) <br>
        <strong>Au tour de :</strong> {{.CurrentPlayer}}
    </div>

    {{if not .Winner}}
    <div class="columns">
        {{range $i, $col := index .Grid 0}}
            <a class="col-btn" href="/play?col={{$i}}">⮟</a>
        {{end}}
    </div>

    <table>
        {{range .Grid}}
        <tr>
            {{range .}}
                {{if eq . ""}}
                    <td></td>
                {{else}}
                    <td class="{{.}}"></td>
                {{end}}
            {{end}}
        </tr>
        {{end}}
    </table>
    {{end}}

</body>
</html>

