<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Puissance 4 - Plateau</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Puissance 4</h1>

    {{if .Winner}}
        <h2>Résultat : 
            {{if eq .Winner "draw"}}
                Match nul !
             {{else}}
                Victoire de {{.Winner}} !
            {{end}}
        </h2>

        <div class="buttons">
            <a href="/reset-grid" class="btn">Rejouer une manche</a>
            <a href="/reset" class="restart-btn">Rejouer avec d'aures joueur</a>
        </div>

    {{end}}


    <div class="info">
        <strong>Joueur 1 :</strong> {{.PlayerName1}} ({{.PlayerColor1}}) <br>
        <strong>Joueur 2 :</strong> {{.PlayerName2}} ({{.PlayerColor2}}) <br>
        <strong>Au tour de :</strong> {{.CurrentPlayer}}
    </div>

    <div class="stats">
        <p>Victoires {{.PlayerName1}} : {{.WinsPlayer1}}</p>
        <p>Victoires {{.PlayerName2}} : {{.WinsPlayer2}}</p>
        <p>Matchs nuls : {{.Draws}}</p>
    </div>


    {{if and .PlayerName1 .PlayerName2 (not .Winner)}}
    <table class="board">
        <thead>
            <tr>
                {{range $i, $col := index .Grid 0}}
                <th class="col-header">
                    <form method="POST" action="/play">
                        <input type="hidden" name="col" value="{{$i}}">
                        <button type="submit" class="col-btn" aria-label="Jouer colonne {{$i}}">⮟</button>
                    </form>
                </th>
                {{end}}
            </tr>
        </thead>

        <tbody>
            {{range $rIndex, $row := .Grid}}
            <tr>
                {{range $cIndex, $cell := $row}}
                    {{if eq $cell ""}}
                        <td class="cell empty">
                            <a href="/play?col={{$cIndex}}" class="cell-click"></a>
                        </td>
                    {{else}}
                        <td class="cell {{ $cell }}"></td>
                    {{end}}
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}


</body>
</html>

